extends ../base

block content
	div
		p=board.description
		small=board.createdAt
	if loggedIn && board.username == username
		a(href=`${board.id}/edit`) Edit board &rarr;
		br
		a(href=`${board.id}/delete`) Delete board &rarr;
